<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La familia De Giorgio!</title>
</head>
<body>
    
    <font face="helvetica">
    <h1><font color="blue">Estos son los integrantes de la familia</font></h1>
    
    {% for familiar in Familiares %}
        <p>{{familiar}}</p>

    {%endfor%}

    <img src="https://images.pexels.com/photos/1456951/pexels-photo-1456951.jpeg"  width="400" />
    </font>
</body>
</html>